.reserve {
  padding: 64px 0 124px;
}


.reserve__title {
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 24px;
}

.reserve__list {
  padding-left: 24px;
  margin: 0 0 72px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 1.5;
}

.reserve__form-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin-bottom: 40px;
}

.reserve__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 94px;
}

.reserve__legend {
  flex-basis: 100%;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  text-transform: uppercase;

  margin: 0 0 24px;
}

.reserve__fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.reserve__fieldset_sub {
  flex-basis: 100%;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .reserve {
    padding: 40px 0;
  }

  .reserve__title {
    font-size: 32px;
  }

  .reserve__list {
    padding-left: 16px;
    margin-bottom: 40px;
    line-height: 1.2;
  }

  .reserve__form-container {
    margin-bottom: 32px;
  }

  .reserve__form-container {
    margin-bottom: 32px;
  }

  .reserve__fieldset {
    margin-bottom: 40px;

  }

  .reserve__legend {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .reserve__fieldset_sub {
    margin-bottom: 20px;
  }

}

@media (max-width: 560px) {
  .reserve {
    padding: 32px 0 64px;
  }

  .reserve__title {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .reserve__list {
    padding-left: 18px;
    margin-bottom: 32px;
    font-size: 12px;
    line-height: 1.2;
  }

  .reserve__form-container {
    margin-bottom: 24px;
  }

  .reserve__fieldset {
    margin-bottom: 24px;

  }

}